body{
  margin: 0;
}

/* 001 */
#article {
  font-size: 1.5em;
}

#name {
  font-size: 3em;
  color: saddlebrown;
  margin: 10px 0px;
}

#button-in {
  background-color:darkblue;
  border: 2px solid blue;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  width: 100px;
  height: 45px;
  border-radius: 8px;
}

#inter {
  width: 300px;
  height: 45px;
  font-size: 20px;
}

/* 002 */
/* img{
  margin: 3% 0% 0% 10%;
  width: 80%;
} */
.myMOUSE{ cursor: default; }
.image{
 position: relative;
}
.image a{
 display: block;
 position: absolute;
}
